@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    background-color: #fafaf9;
  }
  body {
    -webkit-tap-highlight-color: transparent;
  }
  button,
  a {
    touch-action: manipulation;
  }
}
